{% extends "./base.html" %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
<main>
    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>about us</h4>
                        <h2>our company</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-features about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Our Background</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="{% static 'store/assets/images/feature-image.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Who we are &amp; What we do?</h4>
                        <p>BookStore is a community for both books and other products of every point of knowledge. Our philosophy is based on information, communication and education.<br><br>We believe in the power of knowledge. So our goal is to help those who supply it and share it with those who crave it. Which is why every action we take, and every book purchase you make helps fund it.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="team-members">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Purpose</h2>
              </div>
            </div>
           </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Give life to reading</h4>
                  <p>We seek out new ideas and bold actions as we embrace and create change.
                    And among these ideas: to offer readers the convenience of shopping online, and to provide various books in the field of computer science.</p><br><br><br>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Seed of knowledge</h4>
                  <p>Do yourself a favor; find more wonder in your life. And, as Francis says, you will be planting the seeds of knowledge, learning and growth, and this is what this site offers you.</p><br><br><br><br>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Best for bookworms</h4>
                  <p>Like so many other arts, the world of books must adapt to life online. It is to be hoped that since radio has not been supplanted by television and television has not been supplanted by the Internet, there is still room for the beloved book in the modern world.our site presents a selection of books that viewers will love, especially bookworms.</p>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="happy-clients">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Happy Partners</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="owl-clients owl-carousel">
                <div class="client-item">
                  <img src="{% static 'store/assets/images/client-01.png' %}" alt="1">
                </div>
                
                <div class="client-item">
                  <img src="{% static 'store/assets/images/client-01.png' %}" alt="2">
                </div>
                
                <div class="client-item">
                  <img src="{% static 'store/assets/images/client-01.png' %}" alt="3">
                </div>
                
                <div class="client-item">
                  <img src="{% static 'store/assets/images/client-01.png' %}" alt="4">
                </div>
                
                <div class="client-item">
                  <img src="{% static 'store/assets/images/client-01.png' %}" alt="5">
                </div>
                
                <div class="client-item">
                  <img src="{% static 'store/assets/images/client-01.png' %}" alt="6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock %}