{% extends "store/base.html" %}
{% block title %}Users Wish List{% endblock %}

{% block content %}

<style>
  .btn-custom {
    color: black;
    border: 2px solid black;
    border-radius: 0;
    text-align: center;
    transition: border-color 0.3s, color 0.3s;
  }
  
  .btn-custom:hover {
    color: #f33f3f;
    border-color: #f33f3f;
  }  

  /* Supprime la couleur bleue lors du clic */
  .btn-custom:active,
  .btn-custom:focus {
    box-shadow: none;
    outline: none;
  }

  .custom-image {
    max-width: 150px; /* Définissez la largeur maximale souhaitée pour l'image */
    height: auto; /* Pour conserver les proportions de l'image */
  }

  .custom-border {
    border: 2px solid #f33f3f;
  }
</style>

<div class="page-heading wishlist-heading header-text">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-content">
                  <h4>Wishlist</h4>
                  <h2>Favorite Books</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="col-12 mx-auto">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h1 class="h3 pt-5">My Wishlist</h1>
      <div class="pt-4 pb-4">Manage your Wishlist</div>
      
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        <table class="table">
          <thead>
            <tr>
              <th class="align-middle"></th>
              <th class="align-middle">PRODUCT NAME</th>
              <th class="align-middle">UNIT PRICE</th>
              <th class="align-middle">STOCK STATUS</th>
              <th class="align-middle"></th>
              <th class="align-middle"></th>
            </tr>
          </thead>
          <tbody>
            {% if wishlist %}
            {% for product in wishlist  %}
            <tr>
              <td class="align-middle"><img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid p-2 custom-image custom-border"></td>
              <td class="align-middle">{{ product.title }}</td>
              <td class="align-middle" style="font-weight: bold;">{{ product.price }} $</td>
              <td class="align-middle" style= "color: #f33f3f;">In Stock</td>
              <td class="align-middle">
                <button class="btn btn-custom add-to-basket" data-product-id="{{ product.id }}">Add to basket</button>
              </td>
              <td class="align-middle"><a type="button" class="btn btn-custom" href="{% url 'account:user_wishlist' product.id %}">Remove from Wishlist</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="6" class="text-center"><p class="card-text">No products have been added to your wishlist yet</p></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).on('click', '.add-to-basket', function (e) {
      e.preventDefault();
      var productId = $(this).data('product-id');
      var productQty = 1; // Mettez la quantité souhaitée ici
      $.ajax({
          type: 'POST',
          url: "{% url 'basket:basket_add' %}",
          data: {
              productid: productId,
              productqty: productQty,
              csrfmiddlewaretoken: "{{ csrf_token }}",
              action: 'post'
          },
          success: function (json) {
              document.getElementById("basket-qty").innerHTML = json.qty;
              alert('Product added to basket successfully!');
          },
          error: function (xhr, errmsg, err) {
              alert('Failed to add product to basket.');
          }
      });
  });
</script>
{% endblock %}
